.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.App input {
  margin-top: 20px;
  padding: 10px;
  padding-left: 10px;
  width: 300px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: center; /* Add this line to center the input text */
}

.App input::placeholder {
  text-align: center; /* Add this line to center the placeholder text */
}

p {
  margin: 10px 0;
  font-size: 18px;
}
